
body{
    position: relative;
}


.navbar-item-custom, .navbar-item-custom a {
color: white;
}


.footer-custom{
    text-align: center;
    position: absolute;

    padding-top: 25px;
    width: 100%;
    background-color: #dfeaff;

}


.name{
    text-transform: uppercase;
}

.form-check{
    background-color: #dfeaff;
    padding: 20px 65px;
    margin-top: 5px;
}

.col-form-label{
    font-weight: bold;
}

.order-summary{
    background-color: #dfeaff;
    padding: 20px;
    margin-top: 10px;
}

.titre{
    margin-top: 9px;
}