.navbar-item-custom, .navbar-item-custom a {
color: white;
}

.footer-custom{
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 25px;
    width: 100%;
    background-color: #dfeaff;

}